extends layout

block content
	h1 dub dub dub 

	.container
	#myCarousel
		// Wrapper for slides
		.carousel-inner
		.andrew-graph#employers
			.item.active
			#top-employers-data
				.carousel-caption
					h3
						| Top Employers in Jefferson City, Missouri
			// End Item
		.andrew-graph#population
			.item
			#population-data
				.carousel-caption
					h3
						| Headline
			// End Item
			//- id is to identify each andrew-graph
		.andrew-graph#climate 
			.item
			#climate-data
				.carousel-caption
					h3
						| Headline
			// End Item
		// End Carousel Inner
	ul.nav.nav-pills.nav-justified
		li.active(data-target='', data-slide-to='0')
			a.toggle-graph.graph-1.graph-link(href='#employers')
				| Top Employers
		li(data-target='#', data-slide-to='1')
			a.toggle-graph.graph-2.graph-link(href='#population')
				| Historical Population
		li(data-target='#', data-slide-to='2')
			a.toggle-graph.graph-3.graph-link(href='#climate')
					| Climate Data
	// End Carousel

	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
	script(type="text/javascript", src="js/andrew.js")

	block css
		link(rel="stylesheet", type="text/css", href="css/andrew.css")