extends layout

block content
	h1 dub dub dub 

	.container
	#myCarousel.carousel.slide(data-ride='carousel')
		// Wrapper for slides
		.carousel-inner
			.item.active
			#top-employers-data.andrew-graph
				.carousel-caption
					h3
						| Top Employers in Jefferson City, Missouri
			// End Item
			.item
			#population-data.andrew-graph
				.carousel-caption
					h3
						| Headline
			// End Item
			.item
			#climate-data.andrew-graph
				.carousel-caption
					h3
						| Headline
			// End Item
		// End Carousel Inner
		ul.nav.nav-pills.nav-justified
			li.active(data-target='', data-slide-to='0')
				a.toggle-graph.graph-1(href='#')
					| Top Employers
			li(data-target='#', data-slide-to='1')
				a.toggle-graph.graph-2(href='#')
					| Historical Population
			li(data-target='#', data-slide-to='2')
				a.toggle-graph.graph-3(href='#')
					| Climate Data
	// End Carousel

	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
	script(type="text/javascript", src="js/andrew.js")

	block css
		link(rel="stylesheet", type="text/css", href="css/andrew.css")