extends layout

block content
	h1 Highcharts.js Bar Chart
	#container
		block css
			link(rel="stylesheet", type="text/css", href="css/dave.css")
	block scripts
		script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")