doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Week 8 - Library Demo - Highcharts
		//- link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/main.css")
		block css

	body
		block content

		.row.footer
			.col-xs-4.text-center
				a(href="/brian"): img.brian-img.img-circle.no-opacity(src='img/brian.png', alt='Brian Hartz')
				p.creator-name.no-opacity Brian Hartz
				a.social-link.no-opacity(href='https://linkedin.com/in/hartzis', target='_blank')
					i.fa.fa-linkedin-square.fa-2x
					// LinkedIn
				a.social-link.no-opacity(href='https://github.com/hartzis', target='_blank')
					i.fa.fa-github.fa-2x
					// Github
			.col-xs-4.columns.text-center
				a(href="/dave"): img.dave-img.img-circle.no-opacity(src='img/dave.png', alt='Eunice Kim')
				p.creator-name.no-opacity Dave May
				a.social-link.no-opacity(href='https://www.linkedin.com/pub/eunice-yoon-yi-kim/50/733/481', target='_blank', width='160', height='160')
					i.fa.fa-linkedin-square.fa-2x
					// LinkedIn
				a.social-link.no-opacity(href='https://github.com/ekimed', target='_blank')
					i.fa.fa-github.fa-2x
					// Github
			.col-xs-4.columns.text-center
				a(href="/andrew"): img.andrew-img.img-circle.no-opacity(src='img/andrew.png', alt='Andrew Lampert')
				p.creator-name.no-opacity Andrew Lampert
				a.social-link.no-opacity(href='https://www.linkedin.com/in/lamperta', target='_blank')
					i.fa.fa-linkedin-square.fa-2x
					// LinkedIn
				a.social-link.no-opacity(href='https://github.com/AndyLampert', target='_blank')
					i.fa.fa-github.fa-2x
					// Github

		//- script(src='//code.jquery.com/jquery-2.1.1.min.js')
		script(src='./js/jquery-2.1.1.js')
		script(src='./js/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.1/highcharts.js')
		script(src='./js/main.js')
		script(src='./js/dave.js')
		block scripts
