doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Week 8 - Library Demo - Highcharts
		//- link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/main.css")
		block css

	body
		block content

		footer.main-footer 
			ul.center.text-center
				li.user-li 
					a(href="/andrew") Andrew
				li.user-li 
					a(href="/brian") Brian
				li.user-li 
					a(href="/dave") Dave

		//- script(src='//code.jquery.com/jquery-2.1.1.min.js')
		script(src='./js/jquery-2.1.1.js')
		//- script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
		script(src='./js/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.1/highcharts.js')
		script(src='./js/main.js')
		script(src='./js/dave.js')
		block scripts
