* {
	box-sizing: border-box;
}

.user-li {
	display: inline-block;
}

#myCarousel {
	height: 400px;
}

.andrew-graph {
	visibility: hidden;
	position: absolute;
	width: 100%;
}

.andrew-graph.active {
	visibility: visible;
}

/*default styles for all graphs*/
/*.hide-custom {*/
	/*visibility: hidden;*/
/*}*/

/*overriding styles*/
/*.andrew-graph.visible {*/
	/*visibility: visible;*/
/*}*/


/*from bootsnip*/
#container {
	min-width: 310px; 
	height: 400px; 
	max-width: 600px; 
	margin: 0 auto
}

body {
    padding-top: 20px;
}

#myCarousel .nav a small{
    display: block;
}

#myCarousel .nav {
    background: #eee;
}

.nav-pills li {
	border: 1px solid lightgrey; 
}

.nav-pills > li > a {
    border-radius: 0px;
}
